<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/error.css">
    <title>Error</title>
</head>
<body>
    <div id="toolbar" class="toolbar-wrapper">
        <h1 id="website-title"><a href="/posts">Writing Space</a></h1>
    </div>
    <div class="message">
        <h1><%= status %> </h1>
        <h2><%= message %> </h2>
    </div>
</body>
</html>