<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forgottenPassword.css">
    <script src="/js/resetPassword.js" defer></script>
    <title>Reset Password</title>
</head>
<body>
    <div id="toolbar" class="toolbar-wrapper">
        <h1 id="website-title"><a href="/">Writing Space</a></h1>
    </div>
    <div class="form-wrapper">
        <h1>Reset Password</h1>
        <form method="POST" id="resetPasswordForm" action="/forgottenPassword" class="form-container">
            <div>
                <label for="password"><b>Enter your new password</b></label>
                <input id="password" name="password" type="password" required>
            </div>
        <button id="submit">Submit</button>
        </form>
    </div>
    <div id="errors">
    </div>
</body>
</html>