body {
    margin:0;
}

.toolbar-wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding:0 2%;
}

#website-title {
    margin:0;
    color:white;
}

h1 > a {
    color:white;
    text-decoration: none;
}

.toolbar-wrapper > ul > li {
    display:inline;
    margin-left: 5px;
}

.link-container {
    margin:0;
}

ul > li > a {
    color:aqua;
}

ul > li > a:hover {
    color:blue;
}

.create-post-wrapper {
    margin: .5%;
}

.post-container {
    padding: .5%;
    max-width: 80%;
}

p > a{
    max-width:100%;
    word-wrap: break-word;
}

#pfp {
    size:10%;
    width:100%;
}

.user-container {
    padding:.5%;
    margin:auto auto auto 0;
    width:5%;
    margin-right:5%;
}

.user-container > p {
    margin-left:0;
    margin-right:2%;
    margin-top:0;
}

.single-wrapper {
    display:flex;
    margin-bottom: 10px;
    padding:0 2%;
    border:1px solid black;
}

.error {
    text-align:center;
}

button {
    margin-left:5%;
}