/* Center header */
h1 {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%
}

.form-wrapper {
    display:flex;
    flex-direction:column;
    box-sizing: border-box;
    align-items: center;
    width:100%;
}

/* Center form */
form {
    width:30%;
    padding: 10px;
    background-color: white;
  }
  
div {
    display:inline-flex;
    flex-direction: column;
    width:100%;
}
/* Format input elements */
input {
    width: 100%;
    margin: 1% 0 3% 0;
    padding: 10px;
    background: rgb(244, 244, 244);
    border: none;
}
 
/* Show when input element is selected */
input:focus {
    background-color: rgb(230, 230, 230);
}

/* Center paragraph element */
.create-wrapper {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
}

a {
    display:inline;
    padding-left:5px;
    color:rgb(1, 94, 193)
}

a:hover{
    color:blue;
}

button {
    box-sizing: border-box;
    width: 100%;
    height: 50px
}